
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Geologica:wght,CRSV@100..900,0&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face{
    font-family: 'logoFont';
    font-weight:900;
    src: url('./Font/Ouvality.ttf') format(truetype);
    font-style: normal;
}
@font-face{
    font-family: 'ForumFont';
    font-weight:900;
    src: url('./Font/Forum-Regular.ttf') format(truetype);
     font-style: normal;
}
@font-face{
    font-family: 'Quvality';
    src: url('./Font/Ouvality.ttf') format(truetype);
     font-style: normal;
}
body{
       background-color: #FFFFFF;
}